  	<header>
  		<nav class="navbar navbar-expand-lg navbar-light pt-2">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="/">
		    	<img src="/assets/img/t-mark-gray.svg" alt="T icon" width="36" height="28" class="d-inline-block align-middle" style="margin-bottom: 2px; margin-right: ;">
				{% if page.shorthead %}
					{{ page.shorthead }}
				{% else %}
					{% if page.title %}
						{{ page.title }}
					{% else %}
						{{ site.title }}
					{% endif %}
				{% endif %}
			</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a>
		        </li>
		        <li class="nav-item">
		          <a class="btn btn-primary nav-cta">Join us</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
  	</header>